#preso, .slide {
  /* bsides was 640 x 480... */
  width: 640;
  height: 480;
  /* 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0; 
   */
  color: rgb(150, 255, 150);
  font-family: "Courier New", Courier, monospace;
  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

h1 { font-weight: 700; }
body { font-size: .8em !important; }

img { width: 95%; }
.friendly img { width: 70%; height: auto; }
